:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }

* {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    background-color: #2c2c2c;
    word-spacing: 0.2em;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page h1 {
    margin-top: 3%
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #BB86FC;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.5rem;
    background-color: #2c2c2c;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: #FFD580;
    border-bottom: 2px solid #FFD580;

}

nav a:hover h1 {
    color: #FFD580;
    border-bottom: 2px solid #FFD580;

}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    font-weight: bold;
    font-size: 1.3rem;
}


h1, h2, h3, h4 {
    color: #BB86FC;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: 0 auto;

    padding-bottom: 0%;
}

header .profile-pic {
    margin-top: 3%;
    width: 20%;
    border-radius: 0%;
    border: #BB86FC 1px solid;
    
}



.intro {
    width: 25rem;
    padding: 1.3rem;
    box-shadow: 0px 2px 15px 2px #BB86FC;
}

.intro h1 {
   margin-bottom: 0.5rem; 
}

hr {
    border: 1px solid #BB86FC;
    margin-bottom: 25px;
    opacity: 0.1;
}

 .contact-icon {
    width: 6%;
    margin-right: 0.15rem;
    margin-top: 5%;
} 

.header-contact {
    display: inline;
    margin-bottom: 0.5rem;
    margin-left: 1%;
}

.page {
    width: 70%;
    margin: auto;
    padding: 50px;

    background-color: #2c2c2c;

}

.page h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    margin-bottom: 23px;
}

.resume {
    width: 70%;
}

.resume h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.page p {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: #2c2c2c;
}

.post-container {
    margin: 20px 20px 0 2px;  
    overflow: auto;
    
}

.box {
    border: 1px solid #333;
}

.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

.gpa {
    color: red;
}

ul#courses-taken li {
    display: inline;
    margin: 0 10px 0 0;
    font-size: 15px;
    background-color: #d2adff;
    border-radius: 10px;
    color: #000;
    font-weight: 500;
    padding: 2px;
}

ul#courses-taken li:hover {
    background-color: #FFD580;
    color: #000;
    font-weight: 500;
    padding: 2px;
}

iframe {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

footer {
    width: 70%;
    margin: auto;
    padding: 40px;
    background-color: #2c2c2c;
    text-align: center;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: #FFD580;
}

.contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: 0.3rem;
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px #BB86FC;
  }
  
  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: #BB86FC;
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset #BB86FC;
    font-size: 0.875rem;
    outline: none;
  }
  
  .input-field::placeholder {
    padding: 0.5rem;
    color: #BB86FC;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2c2c2c;
    border: 2px solid #BB86FC;
    color: #BB86FC;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #FFD580;
    border: 2px solid #FFD580;
    color:#000;
    cursor: pointer;
  }